
body {
	color: beige ;
	background: #111 ;
	margin-bottom: 200px ;
    	font-family: sans-serif ;
}

h1 {
	text-align: left ;
	color: lightgreen ;
}

header h1 {
	font-size: 40px ;
}

h2 {
	text-align: left ;
	color: deeppink ;
	font-size: 24pt ;
	max-width: 500px ;
}

h3 {
    color: gold ;
	clear: both ;
}

/* "a" is for links. */
a {
    color: lightblue ;
}
