{% extends "base.html" %}
{% block content %}
<center>
  <h1 class="title">Hi, I am Opensource</h1>
</center>  
<p>I am Aadithyan S, aka opensource. I am a 16 yr old high-school student from India, who loves Computers and Software.
<i>But most importantly I am a man of culture</i>.</p>

<img src="/avatar.jpg" alt="avatar image">


<h2>Website Guide</h2>
<p>
  <ul>
    <li>If you find this website ugly - <a href="http://motherfuckingwebsite.com">It's minimal</a>.</li>
    <li>This website was started on 31-MAY-2022.</li>
  </ul>
</p>
<br>

<div>
  <h2>What's the deal here?</h2>
  <p>
    This place is a home for all my psychological dysfunctioning.<br>
    A place where I am in control, with no censorship or manupilation.<br>
    A place where my words don't get mixed up with noise.<br>
  </p>
</div>
<br>
{% endblock content %}
